@use "base";

.userContentContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
  transition: all 0.3s;
  overflow-x: hidden;
  h2 {
    font-family: "Work Sans Medium";
    font-size: 24px;
    color: base.$secondary;
    margin-bottom: 20px;
  }
}

.userContentContainer.up {
  margin-top: -20px;
}

@media (min-width: 600px) {
  .userContentContainer {
    max-width: 760px;
    overflow-x: hidden;
  }
}

@media (min-width: 920px) {
  .userContentContainer {
    max-width: 1037px;

    .summary-card {
      display: flex;
      gap: 26px;
    }
  }

  .userContentContainer.up {
    margin-top: 0;
  }
}

// cards

.cards {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  height: 160px;
  width: 100%;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 30px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;

  h4 {
    text-transform: uppercase;
    font-family: "Work Sans Medium";
    font-size: 14px;
    color: base.$tertiary;
  }

  span {
    display: inline-block;
    font-family: "Work Sans SemiBold";
    font-size: 24px;
    color: base.$secondary;
  }
}

@media (min-width: 600px) {
  .cards {
    max-width: 760px;
    width: 100%;
  }
}

@media (min-width: 920px) {
  .cards {
    width: 240px;
    padding-left: 30px;
  }
}

.user-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.user-overview-wrapper {
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  width: 100%;
  padding: 30px;
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .inner {
      display: flex;
      gap: 10px;
      font-family: "Work Sans SemiBold";
      // Desktop
      // font-size: 12px;
      font-size: 24px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: base.$tertiary;

      img {
        // Desktop
        // width: 16px;
        // height: 10.67px;
        width: 20px;
        height: 18px;
      }
    }

    span {
      font-family: "Work Sans Regular";
      // Deskstop
      // font-size: 14px;
      font-size: 20px;
      color: base.$tertiary;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 920px) {
  .user-overview {
    width: 100%;
    margin-top: 40px;
  }

  .user-overview-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .wrap {
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      // gap: 10px;
      .inner {
        display: flex;
        // gap: 10px;
        font-family: "Work Sans SemiBold";
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: base.$tertiary;

        img {
          // Desktop
          width: 16px;
          height: 10.67px;
        }
      }

      span {
        font-family: "Work Sans Regular";
        // Deskstop
        font-size: 14px;

        color: base.$tertiary;
        margin-bottom: 20px;
      }
    }
  }
}

.paginate {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
  margin-top: 20px;

  .drop-paginate {
    display: flex;
    align-items: center;
    flex-direction: column;

    span:first-of-type {
      margin-right: 10px;
    }

    select {
      font-size: 20px;
    }

    .out-of {
      margin-top: 10px;
    }
  }

  .pag {
    display: flex;
    align-items: center;
    cursor: pointer;

    button {
      margin: 25px 7px;
      padding: 3px 8px;
      border: none;
      background-color: transparent;
    }
  }
}

@media (min-width: 920px) {
  .paginate {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Work Sans Regular";
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;

    .drop-paginate {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      select {
        font-size: 14px;
      }

      .out-of {
        margin-top: 0px;
        margin-left: 10px;
      }
    }

    .pag {
      font-size: 14px;

      button {
        font-size: 14px;

        margin: 0px;
        padding: 0px;
        border: none;
        background-color: transparent;
      }
    }
  }
}
