@use "base";

.wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 10px;
  overflow: hidden;
  transition: all 0.3s;
}

@media (min-width: 600px) {
  .wrapper {
    max-width: 760px;
  }
}

@media (min-width: 920px) {
  .wrapper {
    max-width: calc(100vw - 97px);
    height: 100vh;
    display: flex;
    gap: 10px;
  }

  .left {
    padding-top: 106px;
  }

  .pabloImg {
    padding-top: 139px;
    img {
      max-width: 600px;
      width: 100%;
      height: 337.57px;
    }
  }

  .right {
    max-width: 670px;
    width: 100%;
    margin-top: 220px;

    .formWrapper {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

@media (min-width: 1150px) {
  .wrapper {
    gap: 69px;
  }

  .right {
    .formWrapper {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.groupImg {
  padding-top: 20px;

  img {
    object-fit: cover;
  }
}

.pabloImg {
  width: 100%;
  margin: 30px auto;

  img {
    object-fit: cover;
    max-width: 400px;
    width: 390px;
    height: 210px;
  }
}

@media (min-width: 600px) {
  .pabloImg {
    img {
      max-width: 600px;
      width: 560px;
    }
  }
}

.right {
  .formWrapper {
    header {
      // width: 100%;
      // text-align: left;
      h1 {
        font-family: "Avenir Next Bold";
        font-size: 40px;
        color: base.$secondary;
        transition: font-size 0.3s;
        line-height: 55px;
      }
      p {
        font-family: "Avenir Next Regular";
        transition: font-size 0.3s;
        font-size: 20px;
        color: base.$tertiary;
        margin-top: 10px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 30px;

      input {
        background: #ffffff;
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 5px;
        font-family: "Avenir Next Regular";
        font-size: 14px;
        padding: 13px;
      }

      input:focus {
        outline-color: base.$secondary;
      }
      .forgot-password {
        font-family: "Avenir Next Demi Bold";
        font-size: 12px;
        color: base.$primary;
        text-transform: uppercase;
        text-decoration: none;
      }

      .submit-btn {
        border-radius: 8px;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        font-size: 14px;
        font-family: "Avenir Next Demi Bold";
        padding: 13px;
        cursor: pointer;
      }

      .submit-btn.filled {
        background-color: base.$primary;
      }
    }
  }
}

@media (min-width: 700px) {
  .right {
    .formWrapper {
      header {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}

.password-box {
  position: relative;
  input {
    width: 100%;
  }
  span {
    color: base.$primary;
    position: absolute;
    right: 12px;
    top: 13px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Avenir Next Demi Bold";
    font-size: 12px;
  }
}

.err {
  color: red;
}
