@use "base";

.drop-menu {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-trigger {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 120px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  width: 180px;
}

.dropdown-menu .drop-menu {
  color: base.$secondary;
}

// .dropdown-menu .drop-menu .a {
//   color: base.$secondary;
// }

.dropdown-menu .drop-menu a:hover {
  color: base.$blacklisted;
  cursor: pointer;
}

// .dropdown-menu .drop-menu .a:hover {
//   color: base.$blacklisted;
//   cursor: pointer;
// }

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}

.dropdown-menu .drop-menu a:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 3px auto;
}

.dropdownItem img {
  margin-right: 10px;
  opacity: 0.5;
  transition: 500ms;
}

.dropdownItem span {
  margin-left: 10px;
  transition: 500ms;
}
