:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  /* font-size: 16px; */
  line-height: 24px;
  /* font-weight: 400; */

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  /* min-height: 100vh; */
  scroll-behavior: smooth;
}

.menu > li {
  list-style: none;
  font-family: "Work Sans Regular";
  font-size: 16px;
  color: #213f7d;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 31px;
  cursor: pointer;
}

.other-pages-container {
  overflow-x: hidden;
}

.other-pages-wrapper {
  overflow-x: hidden;
}

@media (min-width: 920px) {
  .other-pages-wrapper {
    display: flex;
    gap: 60px;
  }
}
